// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$light-primary-text: white;


$primary-palette: (
  50: #0F4A82,
  100: #0F4A82,
  200: #0F4A82,
  300: #0F4A82,
  400: #0F4A82,
  500: #0F4A82,
  600: #0F4A82,
  700: #0F4A82,
  800: #0F4A82,
  900: #0F4A82,
  A100: #0F4A82,
  A200: #0F4A82,
  A400: #0F4A82,
  A700: #0F4A82,
  contrast: (50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$accent-palette: (
  50: #a5241c,
  100: #a5241c,
  200: #a5241c,
  300: #a5241c,
  400: #a5241c,
  500: #a5241c,
  600: #a5241c,
  700: #a5241c,
  800: #a5241c,
  900: #a5241c,
  A100: #a5241c,
  A200: #a5241c,
  A400: #a5241c,
  A700: #a5241c,
  contrast: (50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


$warn-palette: (
  50: #a90420,
  100: #a90420,
  200: #a90420,
  300: #a90420,
  400: #a90420,
  500: #a90420,
  600: #a90420,
  700: #a90420,
  800: #a90420,
  900: #a90420,
  A100: #a90420,
  A200: #a90420,
  A400: #a90420,
  A700: #a90420,
  contrast: (50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $light-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$gestaocomercialprimary: mat.define-palette($primary-palette);
$gestaocomercialaccent: mat.define-palette($accent-palette);
$gestaocomercialwarn: mat.define-palette($warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gestaocomercialtheme: mat.define-light-theme((color: (primary: $gestaocomercialprimary,
        accent: $gestaocomercialaccent,
        warn: $gestaocomercialwarn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gestaocomercialtheme);
