<main class="flex justify-center items-center mt-8">
  <section class="w-[70%] flex flex-col gap-6">
    <header class="flex justify-between items-center">
      <h1 class="text-3xl">
        Teste de Titulo
      </h1>
      <div>
        <app-marcar-tarefa-concluida-indigo></app-marcar-tarefa-concluida-indigo>
      </div>
    </header>
    <hr />
    <div class="">
      <p class="text-basic text-gray-500 text-left">
        Teste de descrição grande Teste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grandeTeste de descrição grande
      </p>
    </div>
    <div class="flex flex-col gap-4">
      <mat-expansion-panel *ngFor="let checklist of tarefas">
        <mat-expansion-panel-header>
          <mat-panel-title> This is the expansion title </mat-panel-title>
          <mat-panel-description> This is a summary of the content </mat-panel-description>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </div>
  </section>
</main>
