<main class="h-auto columns-3 justify-around p-4 ">
  <div class="w-80">
    <section class="border border-solid border-indigo-300 self-center">
      <header>
        Teste de titulo para card
      </header>
    </section>
    <section class="border border-solid border-indigo-300 self-center">
      <header>
        Teste de titulo para card
      </header>
    </section>
    <section class="border border-solid border-indigo-300 self-center">
      <header>
        Teste de titulo para card
      </header>
    </section>
  </div>
</main>
