<main class="h-[100%] w-full flex justify-center item-start py-6">
  <div class=" w-[70%] h-fit flex flex-col gap-4">
    <div class="rounded-lg bg-indigo-300 md:flex items-center justify-between p-4 px-5 w-full card" *ngFor="let tarefa of tarefas">
      <h1 class="text-white text-xl">
        {{ tarefa.titulo }}
      </h1>
      <div class="flex items-center gap-3 text-white">
        <p class="p-0 m-0">{{ tarefa.descricao }}</p>
        <app-options-tarefa-button></app-options-tarefa-button>
        <app-marcar-tarefa-concluida [idTarefa] = "tarefa.id"></app-marcar-tarefa-concluida>
      </div>
    </div>
  </div>
</main>
