<main class="h-[100%]  p-4 w-full flex justify-center item-start">
  <div class=" w-[90%] h-fit flex flex-col gap-4">
    <a href="api/" class="rounded-lg bg-indigo-300 flex items-center justify-between p-4 px-5 w-full card" >
      <h1 class="text-white text-xl">
        Teste de titulo para card
      </h1>
      <div class="flex items-center gap-3 text-white">
        <p class="p-0 m-0">Teste de texto sobre a tarefa</p>
        <app-marcar-tarefa-concluida></app-marcar-tarefa-concluida>
      </div>
    </a>
  </div>
</main>
